@model SocialEyes.Domain.Entities.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventImage)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.EventImage)" width="400px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results)
        </dd>

    </dl>
</div>

<h3>Confirm Attendance:</h3>
<p>
    @Html.ActionLink("Confirm", "Create", "Attendee", new { eventId = Model.EventId, eventName = Model.EventName, companyId = Model.CompanyId, userName = ViewBag.UserName }, null)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to Dashboard", "Company", "Company", new { id = Model.CompanyId }, null)
</p>
