@model SocialEyes.Domain.Entities.Event

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.EventName)</h2>

<div>
    <hr />
    <div style="display:inline-block;">
        <img class="thumbnail" src="@Html.DisplayFor(model => model.EventImage)" width="400px" />
    </div>
    <dl class="dl-horizontal" style="width:50%; display:inline-block; vertical-align: top;">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Model.Date.ToString("dd MMMM yyyy")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
           @Model.Time.ToString("HH:mm")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            €@Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            Minimum Numbers
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinNum) people
        </dd>

        <dt>
            Maximum Numbers
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNum) people
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gallery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gallery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Results)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Results)
        </dd>

    </dl>
</div>

<h3>Confirm Attendance:</h3>
<p>
    @Html.ActionLink("Confirm", "Create", "Attendee", new { eventId = Model.EventId, eventName = Model.EventName }, null)
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EventId }) |
    @Html.ActionLink("Back to Dashboard", "Company", "Company", new { id = Model.CompanyId }, null)
</p>
