@model IEnumerable<SocialEyes.Domain.Entities.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Event Listings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.CompanyId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.EventImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNum)
        </th>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.Gallery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Results)
        </th>
        -->

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--
        <td>
            @Html.DisplayFor(modelItem => item.CompanyId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryId)
        </td>
        -->
        <td>
            <img src="@Html.DisplayFor(modelItem => item.EventImage)" width="100px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            € @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNum)
        </td>
        <!--
        <th>
            @Html.DisplayFor(modelItem => item.Gallery)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Review)
        </th>
        <th>
            @Html.DisplayFor(modelItem => item.Results)
        </th>
        -->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EventId })
        </td>
    </tr>
}

</table>
