@model SocialEyes.Domain.Entities.Attendee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SE_Event.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SE_Event.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
           @Html.DisplayNameFor(model => model.User.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attending)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
