@model IEnumerable<SocialEyes.Domain.Entities.Attendee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SE_Event.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attending)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SE_Event.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attending)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendeeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendeeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendeeId })
        </td>
    </tr>
}

</table>
