@model SocialEyes.Domain.Entities.Company

@{
    ViewBag.Title = "Company";
}

<h2>Company</h2>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogoURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogoURL)
        </dd>

    </dl>
</div>

<hr/>
<h2>Current Events</h2>
@Html.ActionLink("Create New Event", "Create", "Event", new { id = Model.CompanyId }, null)
<table class="table">
    <tr>
        <!--
        <th>
            CompanyId
        </th>
        <th>
            Category Id
        </th>
        -->
        <th>
            Event Image
        </th>
        <th>
           Event Name
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
           Minimum Numbers
        </th>
        <th>
            Maximim Numbers
        </th>
        <!--
        <th>
            Gallery
        </th>
        <th>
            Review
        </th>
        <th>
            Results
        </th>
        -->

        <th></th>
    </tr>

    @foreach (var item in Model.Events)
    {
        <tr>
            <!--
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            -->
            <td>
                <img src="@Html.DisplayFor(modelItem => item.EventImage)" width="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                € @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNum)
            </td>
            <!--
            <th>
                @Html.DisplayFor(modelItem => item.Gallery)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Review)
            </th>
            <th>
                @Html.DisplayFor(modelItem => item.Results)
            </th>
            -->
            <td>
                @Html.ActionLink("Details", "Details", "Event", new { id = item.EventId }, null) |
                @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId }, null) |
                @Html.ActionLink("Delete", "Delete", "Event", new { id = item.EventId }, new { onclick = "return confirm('Are you sure you wish to delete this event?');" })
            </td>
        </tr>
    }

</table>

<hr />
<h2>Vote for our next Event</h2>
<p>
    @Html.ActionLink("Cast your vote here", "Poll", "Poll", new { id = 1 }, null)
</p>

<p>
    @Html.ActionLink("Edit Company Details", "Edit", new { id = Model.CompanyId })
</p>
