@model SocialEyes.Domain.Entities.Company

@{
    ViewBag.Title = "Company";
}

<div class="pull-right">
    <img src="@Html.DisplayFor(model => model.LogoURL)" />
</div>

<h2>@Html.DisplayFor(model => model.CompanyName)</h2>
<div>
    @Html.DisplayFor(model => model.Address1), @Html.DisplayFor(model => model.Address2), @Html.DisplayFor(model => model.Address3), @Html.DisplayFor(model => model.Address4)<br /><br /><br />
    <h4>Committee Contact Details:</h4>
    Email: <a href="mailto:@Html.DisplayFor(model => model.Email)">@Html.DisplayFor(model => model.Email)</a><br />
    Telephone: @Html.DisplayFor(model => model.Telephone) <br /><br />

<hr style="height:3px; color:#004A61; background-color:#004A61;"/>
    
<h2 style="color:#004A61;">Upcoming Events</h2>
@Html.ActionLink("Create New Event", "Create", "Event", new { id = Model.CompanyId }, null)
<table class="table">
    <tr>
        <th>
            Event Image
        </th>
        <th>
           Event Name
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Price
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model.Events)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.EventImage)" width="100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @item.Date.ToString("dd MMMM yyyy")
            </td>
            <td>
                @item.Time.ToString("HH:mm")
            </td>
            <td>
                € @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Attendees", "Attendee", "Attendee", new { id = item.EventId }, null) |
                @Html.ActionLink("Details", "Details", "Event", new { id = item.EventId }, null) |
                @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId }, null) |
                @Html.ActionLink("Delete", "Delete", "Event", new { id = item.EventId }, new { onclick = "return confirm('Are you sure you wish to delete this event?');" })
            </td>
        </tr>
    }

</table>
    <hr style="height:3px; color:#004A61; background-color:#004A61;" />
    <div style="background-color:#004A61; border-radius:20px 0 20px 0; padding:10px; box-shadow: 6px 6px 6px #777;">
        <h2 style="color:#fff;">Event Poll</h2>
        <p style="color:#fff;">
            Vote for our next Event<br />
            Have your say!<br />
            @Html.ActionLink("Cast your vote here", "Poll", "Poll", new { id = 1 }, null)
        </p>
    </div>
    <hr style="height:3px; color:#004A61; background-color:#004A61;" />
    <h2 style="color:#004A61;">Suggest an event</h2>
<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" placeholder=" Your Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="suggestion" class="col-sm-2 control-label">Event</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="suggestion" placeholder="Suggestion">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Send</button>
        </div>
    </div>
</form>
    <hr style="height:3px; color:#004A61; background-color:#004A61;" />
    <h2 style="color:#004A61;">Previous Events</h2>
    
    <table class="table">
        <tr>
            <th>
                Event Image
            </th>
            <th>
                Event Name
            </th>
            <th>
                Date
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.EventImage)" width="100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventName)
                </td>
                <td>
                    @item.Date.ToString("dd MMMM yyyy")
                </td>
                <td>
                    @Html.ActionLink("Attendees", "Attendee", "Attendee", new { id = item.EventId }, null) |
                    @Html.ActionLink("Details", "Details", "Event", new { id = item.EventId }, null) |
                    @Html.ActionLink("Edit", "Edit", "Event", new { id = item.EventId }, null) |
                    @Html.ActionLink("Delete", "Delete", "Event", new { id = item.EventId }, new { onclick = "return confirm('Are you sure you wish to delete this event?');" })
                </td>
            </tr>
        }

    </table>

<p>
    @Html.ActionLink("Edit Company Details", "Edit", new { id = Model.CompanyId })
</p>
